.master-container::before {
    background-image: url('../assets/sunny.png');
    overflow: hidden;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.master-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 0.1rem);
}

.day-card {
    width: 17.5%; 
    min-width: 120px; 
    height: 100%; 
    margin-left: 1.5%; 
    margin-right: 1.5%;
}
.day-card:hover {
    cursor: pointer;
}
/* align first/last day-cards with edge of containing element */
.day-card:nth-of-type(1){
    margin-left: 0;
}
.day-card:nth-of-type(5){
    margin-right: 0;
}
.day-card.selected {
    border: 3px solid #6f6feb;
}

#day-container, #day-detail-container, forecast-search-form {
    width: 75%;
    max-width: 1000px;
    text-align: center;
}
forecast-search-form {
    margin-bottom: 1rem;
}

strong[id$="_temps"]{
    margin-bottom: 0.5rem;
}
span[id$="_temps_min"], span[id$="_temps_max"] {
    vertical-align: text-bottom; 
    font-size: 20px;
}
span[id$="_temps_min"]{
    color: #7878f3; 
}
span[id$="_temps_max"]{
    color: #fd4d4d;
}

#dailyWeather, #dailyWind {
    overflow: auto; display: flex; justify-content: left; flex-direction: row;
}
#dailyWeather div {
    width: 100%;
}
#dailyWind div {
    width: 100px; min-width: 100px;
}
#dailyWind div div {
    overflow: hidden;
}


#dailyPrecipitation {
    overflow: auto; 
    height: 180px;
}

#day-container {
    height: 220px;
    background-color: var(--transparent);
    border: none;
    margin-bottom: 1rem; 
    flex-direction: row; 
    overflow-x: auto;
}
#day-container .card-body {
    display: flex;
    justify-content: center;
}

#day-detail-container {
    height: auto;
    max-height: 300px;
}

#day-detail-container .card-body {
    padding: 0;
    overflow: auto;
    /* height: 200px; */
}

.compass-icon {
    color: #7878f3; font-size: 52px; vertical-align: text-bottom;
}