<div class="master-container">
  <forecast-search-form></forecast-search-form>
    
  <ng-container *ngIf="forecast">
    <div id="day-container" class="card">
      <div class="card day-card" *ngFor="let dayDate of forecastDays" (click)="selectDay(dayDate)" [ngClass]="selectedDayForecast.date === dayDate ? 'selected' : ''">
        <strong>{{dayDate | displayDate}}</strong>
        <div class="card-body">
          <img [src]="wmoIconMappings[forecast[dayDate].dailyWmoCode].day.image">
        </div>
        <strong id="{{dayDate}}_temps">
          <span class="d-inline-block">
            <span id="{{dayDate}}_temps_min" class="material-icons">thermostat</span>{{forecast[dayDate].dailyMin | displayTemp}}
          </span>
          <span class="d-inline-block">
            <span id="{{dayDate}}_temps_max" class="material-icons">thermostat</span>{{forecast[dayDate].dailyMax | displayTemp}}
          </span>
        </strong>
      </div>
    </div>
    <div id="day-detail-container" class="card" #dayDetailContainer>  
      <div class="card-header">
        <!-- <text-carousel 
          [data]="forecastDays">
        </text-carousel> -->
        <strong>{{selectedDayForecast.date | displayDate}}</strong>
      </div>
      <tab-navigation
        [navTitles]="['Weather', 'Precipitation', 'Wind']"
        [navTemplates]="[dailyWeather, dailyPrecipitation, dailyWind]"
        [navContext]="{dayForecast: selectedDayForecast}"
      ></tab-navigation>
    </div>
  </ng-container>
</div>

<ng-template ngbNavContent #dailyWeather let-dayForecast="dayForecast">
  <div id="dailyWeather" class="card-body">
    <div *ngFor="let hourForecast of dayForecast?.hours">
      <strong>{{hourForecast?.time}}</strong>
      <div class="card-body">
        <img [src]="wmoIconMappings[hourForecast?.hourlyWmoCode]?.day.image">
      </div>
      <strong>{{hourForecast?.hourlyTemp | displayTemp}}</strong>
    </div>
  </div>
</ng-template>
<ng-template ngbNavContent #dailyPrecipitation>
  <div id="dailyPrecipitation" class="card-body">
    <precipitation-graph
      [container]="dayDetailContainer"
      [data]="selectedDayPrecipData"
    ></precipitation-graph>
  </div>
</ng-template>
<ng-template ngbNavContent #dailyWind let-dayForecast="dayForecast">
  <div id="dailyWind" class="card-body">
    <div *ngFor="let hourForecast of dayForecast?.hours">
      <strong>{{hourForecast?.time}}</strong>
      <div class="card-body">
        <ng-container [ngSwitch]="hourForecast.hourlyWindDirection">
          <span *ngSwitchCase="'E'" class="material-icons compass-icon" >arrow_forward</span>
          <span *ngSwitchCase="'W'" class="material-icons compass-icon" >arrow_back</span>
          <span *ngSwitchCase="'S'" class="material-icons compass-icon" >arrow_downward</span>
          <span *ngSwitchCase="'N'" class="material-icons compass-icon" >arrow_upward</span>
          <!--  -->
          <span *ngSwitchCase="'SE'" class="material-icons compass-icon" style="transform: rotate(135deg);">arrow_upward</span>
          <span *ngSwitchCase="'SW'" class="material-icons compass-icon" style="transform: rotate(-135deg);">arrow_upward</span>
          <span *ngSwitchCase="'NE'" class="material-icons compass-icon" style="transform: rotate(45deg);">arrow_upward</span>
          <span *ngSwitchCase="'NW'" class="material-icons compass-icon" style="transform: rotate(-45deg);">arrow_upward</span>
        </ng-container>
      </div>
      <strong>{{hourForecast?.hourlyWindSpeed | displayWindSpeed}}</strong>
    </div>
  </div>
</ng-template>