<div class="master-container">
  <forecast-search-form  style="margin-bottom: 1rem;"></forecast-search-form>
    
  <ng-container *ngIf="forecast">
    <div id="day-container" class="card">
      <div class="card day-card" *ngFor="let dayDate of forecastDays" (click)="selectDay(dayDate)" [ngClass]="selectedDayForecast.date === dayDate ? 'selected' : ''">
        <strong>{{dayDate | displayDate}}</strong>
        <div class="card-body">
          <img [src]="wmoMappings[forecast[dayDate].dailyWmoCode].day.image">
        </div>
        <strong style="margin-bottom: 0.5rem;">
          <span class="d-inline-block">
            <span class="material-icons" style="color: #7878f3; vertical-align: text-bottom; font-size: 20px;">thermostat</span>{{forecast[dayDate].dailyMin | displayTemp}}
          </span>
          <span class="d-inline-block">
            <span class="material-icons" style="color: #fd4d4d; vertical-align: text-bottom; font-size: 20px;">thermostat</span>{{forecast[dayDate].dailyMax | displayTemp}}
          </span>
        </strong>
      </div>
    </div>
    <div id="day-detail-container" class="card" #dayDetailContainer>  
      <div class="card-header">
        <!-- <text-carousel 
          [data]="forecastDays">
        </text-carousel> -->
        <strong>{{selectedDayForecast.date | displayDate}}</strong>
      </div>
      <tab-navigation
        [navTitles]="['Weather', 'Precipitation', 'Wind']"
        [navTemplates]="[dailyWeather, dailyPrecipitation, dailyWind]"
        [navContext]="{dayForecast: selectedDayForecast}"
      ></tab-navigation>
    </div>
  </ng-container>
</div>

<ng-template ngbNavContent #dailyWeather let-dayForecast="dayForecast">
  <div class="card-body" style="overflow: auto; display: flex; justify-content: left; flex-direction: row;">
    <div *ngFor="let hourForecast of dayForecast?.hours" style="width: 100px;">
      <strong>{{hourForecast?.time}}</strong>
      <div class="card-body">
        <img [src]="wmoMappings[hourForecast?.hourlyWmoCode]?.day.image">
      </div>
      <strong>{{hourForecast?.hourlyTemp | displayTemp}}</strong>
    </div>
  </div>
</ng-template>
<ng-template ngbNavContent #dailyPrecipitation>
  <div class="card-body" style="overflow: auto; height: 180px;">
    <precipitation-graph
      [container]="dayDetailContainer"
      [data]="selectedDayPrecipData"
    ></precipitation-graph>
  </div>
</ng-template>
<ng-template ngbNavContent #dailyWind let-dayForecast="dayForecast">
  <div class="card-body" style="overflow: auto; display: flex; justify-content: left; flex-direction: row;">
    <div *ngFor="let hourForecast of dayForecast?.hours" style="width: 100px; min-width: 100px;">
      <strong>{{hourForecast?.time}}</strong>
      <div class="card-body" style="overflow: hidden;">
        <ng-container [ngSwitch]="hourForecast.hourlyWindDirection">
          <span *ngSwitchCase="'E'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom;">arrow_forward</span>
          <span *ngSwitchCase="'W'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom;">arrow_back</span>
          <span *ngSwitchCase="'S'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom;">arrow_downward</span>
          <span *ngSwitchCase="'N'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom;">arrow_upward</span>
          <!--  -->
          <span *ngSwitchCase="'SE'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom; transform: rotate(135deg);">arrow_upward</span>
          <span *ngSwitchCase="'SW'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom; transform: rotate(-135deg);">arrow_upward</span>
          <span *ngSwitchCase="'NE'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom; transform: rotate(45deg);">arrow_upward</span>
          <span *ngSwitchCase="'NW'" class="material-icons" style="color: #7878f3; font-size: 52px; vertical-align: text-bottom; transform: rotate(-45deg);">arrow_upward</span>
        </ng-container>
      </div>
      <strong>{{hourForecast?.hourlyWindSpeed | displayWindSpeed}}</strong>
    </div>
  </div>
</ng-template>