

#carousel .col-lg-3, #carousel .col-lg-3 span.material-icons {
    vertical-align: middle;
}

#carousel .col-lg-3 {
    width: 33%;
} 

.carousel-item {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}