:root {
    --btn-green: #32df32;
    --invalid-red: #c50000;
    --transparent: rgba(255,255,255,0);

    --disabled-colour: #bbbbbb;
    --disabled-border-colour: #a7a7a7;
    --disabled-text-colour: #6d6b6b;
}

body {
    font-family: monospace!important;
}

.invalid {
    border: 2px solid var(--invalid-red);
}
.input-validator {
    color: var(--invalid-red);
}